
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Phone</h4>
                    <p>+216 72 424 834</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Address</h4>
                    <p>Angle de l'Avenue Habib Bourguiba et Rue Salah Ben Ali, Bizerte, Tunisia, 7000</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>Open time</h4>
                    <p>9:00 am to 18:00 pm</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>Email</h4>
                    <p>agence@bizertatoptravel.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3174.9971053004397!2d9.866813110371277!3d37.27149574087679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e31f961e13c6e3%3A0x150b5e4277aa239e!2sAgence%20Bizerte%20top%20Travel!5e0!3m2!1sfr!2stn!4v1692629905563!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="map-inside">
        <i class="icon_pin"></i>
        <div class="inside-widget">
            <h4>Bizerte</h4>
            <ul>
                <li>Phone: +216 72 424 834</li>
                <li>Add: Angle de l'Avenue Habib Bourguiba et Rue Salah Ben Ali, Bizerte, Tunisia, 7000</li>
            </ul>
        </div>
    </div>
</div>