<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        <li><a href="#">Fresh Meat</a></li>
                        <li><a href="#">Vegetables</a></li>
                        <li><a href="#">Fruit & Nut Gifts</a></li>
                        <li><a href="#">Fresh Berries</a></li>
                        <li><a href="#">Ocean Foods</a></li>
                        <li><a href="#">Butter & Eggs</a></li>
                        <li><a href="#">Fastfood</a></li>
                        <li><a href="#">Fresh Onion</a></li>
                        <li><a href="#">Papayaya & Crisps</a></li>
                        <li><a href="#">Oatmeal</a></li>
                        <li><a href="#">Fresh Bananas</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                  <div class="hero__search__form">
                    <form (ngSubmit)="searchPlages()">
                      <div class="hero__search__categories">
                        All Categories
                        <span class="arrow_carrot-down"></span>
                      </div>
                      <input type="text" placeholder="What do you need?" [(ngModel)]="nom" name="nom">
                      <input type="text" placeholder="Enter country" [(ngModel)]="pays" name="pays">
                      <button type="submit" class="site-btn">SEARCH</button>
                    </form>
                    </div>
                    
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- Hero Section End -->
  
  <!-- Breadcrumb Section Begin -->
  
  <!-- Breadcrumb Section End -->
  
  <!-- Product Section Begin -->
  <section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Offers</h4>
                        <ul>
                            <li><a routerLink="/hotels">Hotels</a></li>
                            <li><a href="#">Maison d'hotes</a></li>
                            <li><a routerLink="/plage">Plages</a></li>
  
                        </ul>
                    </div>
  
  
                 
                    
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                
                
                
  
  
  
  
                <!--<div class="row featured__filter">
                    <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat" *ngFor="let plage of plages">
                        <div class="featured__item">
                          <div class="wsk-cp-product" >
                              <div class="wsk-cp-img">
                                  <img [src]="'data:image/jpeg;base64,' + plage.imageBase64" alt="Product" class="img-responsive" />
                              </div>
                                                    <div class="wsk-cp-text">
                              <div class="category">
                                <span>{{plage.nom}}</span>
                              </div>
                              <div class="title-product">
                                <h3>{{plage.pays}}</h3>
                              </div>
                              <div class="description-prod">
                                <p>{{plage.description}}</p>
                              </div>
                              <div class="card-footer">
                                <div class="wcf-left"><span class="price">${{plage.prix}}TND</span></div>
                                <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
                              </div>
                            </div>
                          </div>
                            </div>
                    </div>
                    
      
                </div>-->
                <div class="main" *ngFor="let plage of plages">
                    <div class="cards">
                      <div class="cards_item">
                        <div class="card">
                          <div class="card_image" >
                            <img [src]="'data:image/jpeg;base64,' + plage.imageBase64" alt="Product" class="img-responsive" />
                            <span class="card_price"><span>$</span>{{plage.prix}}</span>
                          </div>
                          <div class="card_content">
                            <h2 class="card_title">{{plage.nom}}</h2>
                            <div class="card_text">
                                <h2 class="card_title">{{plage.pays}}</h2>

                              <p> <strong>{{plage.description}}</strong>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                  
                      
                    </div>
                  </div>
                
                <div class="product__pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
      
      </div>
      
      
      
  </section>
  <!-- Product Section End -->
  