<!--/////////////**********************  Header Section Begin ////////////////////***************** -->
<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
  <div class="humberger__menu__logo">
      <a href="#"><img src="img/vb.png" alt=""></a>
  </div>



  <div id="mobile-menu-wrap"></div>
  <div class="header__top__right__social">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-pinterest-p"></i></a>
  </div>

</div>








<header class="header">

      <div class="container">
          <div class="row">
              <div class="col-lg-3">
                  <div class="header__logo">
                      <a href="./index.html"><img src="../../../assets/img/vb.png" alt=""></a>
                  </div>
              </div>
              <div class="col-lg-6">
                  <nav class="header__menu">
                      <ul>
                          <li class="active"><a routerLink="/hotels">Home</a></li>
                          <li><a routerLink="/hotels">Hotels</a></li>
                          <li><a routerLink="/plage">Plages</a> </li>
                          <li><a>Maison d'hotes</a></li>
                      </ul>
                  </nav>
              </div>
              <div class="col-lg-3">
                  <div class="header__cart">
                      <ul>
                          <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                          <li><a ><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                          <li><a routerLink="userProfile"><i class="fa fa-user"></i> </a></li>
                          <li><a routerLink="login" ><i class="fa fa-sign-in"></i> </a></li>
                          <li><a href="#" (click)="logout()"><i class="fa fa-sign-out"></i></a></li>


                    </ul>

                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- //////////******************Header Section End //////////////////*******-->
